.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #525151;
    color: black;
    transition: all 0.3s;
    }

    .logo {
        margin: auto;
        width: 60px;
    }

    .logo img {
        display: block;
        width: 140px;
        height: auto;
    }